body {
  margin: 0;
  background-color: rgb(40, 39, 39);
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  background-color: dimgray;
}

header {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin-top: 0;
  font-size: 20px;
}

section {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.sound_gallery {
  text-align: right;
  margin-bottom: 20px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  align-items: center;
}

.gallery {
  padding-left: 300px;
}

main {
  text-align: center;
  border-color: white;
  background-color: darkslateblue;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

.article-table {
  background: rgba(var(--theme-page-dynamic-color-1--rgb), 0.02);
  border: 0 var(--theme-border-color);
  border-collapse: collapse;
  margin: 1em 1em 1em 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.details {
  margin: 20px;
}

th {
  background-color: #333;
  color: #fff;
}

article {
  margin: 20px;
  font-size: 20px;
}
